<header>
    <nav>
        <a href="/">Recipeer</a>
        <ul>
            <li>
                <a href="/chefs">Chefs</a>
            </li>
            <li>
                <a href="/chefs/new">Add Chef</a>
            </li>
        </ul>
    </nav>
</header>