<label>Name</label>
<input type="text" name="name" value="<%= chef.name %>">
<br />
<label>Role: </label>
<select name="role">
    <% roles.forEach(role => { %>
        <option label="<%= role.name %>"></option>
    <% }) %>
</select>
<br />
<label>Hours Per Week:</label>
<input type="number" min="0" max="80" name="hoursPerWeek">
<br />
<label>Shift: </label>
<select name="shift">
    <% shifts.forEach(shift => { %>
        <option label="<%= shift.name %>"></option>
    <% }) %>
</select>
<br />
<label>Years Worked: </label>
<input type="number" min="0" name="yearsWorked">
<!-- <label>Michelin Stars</label> -->
<!-- <input type="number" name="michelinStars" min="0" max="3" value="<%= chef.michelinStars %>"> -->