<label>Name</label>
<input type="text" name="name" value="<%= chef.name %>">
<br />
<label>Professional</label>
<input type="checkbox" name="professional" value="<%= chef.professional %>">
<!-- <label>Michelin Stars</label> -->
<!-- <input type="number" name="michelinStars" min="0" max="3" value="<%= chef.michelinStars %>"> -->