<h2>All Chefs</h2>
<div>
    <% chefs.forEach(chef => { %>
        <div>
            <%= chef.name %>
            <span>Professional: <%= chef.professional %></span>
        </div>
    <% }) %>
</div>
